<html>
  <head>
    <title><%=title%></title>
    <link
      rel="stylesheet"
      href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <!-- Main Container where all the data is shown -->
    <section id="container">
      <!-- App Title -->
      <h1 class="text-color" id="app-title">TODO App</h1>

      <!-- Horizontal Separator -->
      <div class="horizontal-line"></div>

      <!-- Adding new Task -->
      <form action="/action/create-task" method="POST">
        <!-- Div for description input -->
        <div id="desc">
          <label for="desc-input"> description </label>
          <input
            type="text"
            name="description"
            id="desc-input"
            placeholder="What do you need to do ?"
            required
          />
        </div>

        <!-- Separator -->
        <div class="horizontal-line"></div>

        <!-- Div for information regarding tasks (i.e: category and Date) -->
        <div id="information-div">
          <!-- dropdown for category selection option -->
          <div id="dropdown">
            <label for="category"> Category </label>

            <select name="category" id="category">
              <option value="" selected diabled hidden>
                Choose a category
              </option>
              <option value="work">Work</option>
              <option value="college">College</option>
              <option value="home">Home</option>
              <option value="exercise">Exercise</option>
              <option value="other">Other</option>
            </select>
          </div>

          <!-- Vertical Separator -->
          <div class="vertical-line"></div>

          <!-- Div for date input -->
          <div id="date-div">
            <div>
              <label for="date"> Due Date </label>
              <input type="date" id="date" name="date" />
            </div>
          </div>
        </div>

        <!-- Separator -->
        <div class="horizontal-line"></div>

        <!-- Contains Action Buttons (i.e: Add and Delete ) -->
        <div id="action-buttons">
          <!-- button to add a new task and sumbit form -->
          <button id="add-button" type="submit">
            <i class="fas fa-plus"></i>
            <span>Add Task</span>
          </button>

          <!-- button to delete all the selected tasks -->
          <button id="delete-button" type="submit" form="tasks-list-form">
            <i class="fas fa-trash-alt"></i>
            <span>Delete Tasks</span>
          </button>
        </div>
      </form>

      <h1 class="text-color" id="task-title">
        <i class="fas fa-tasks"></i>My Tasks List
      </h1>

      <!-- This div will show list of all the tasks stored in the Database -->
      <form action="/action/delete-tasks" method="POST" id="tasks-list-form">
        <% for(let i of tasks_list){%>
        <div>
          <div class="horizontal-line"></div>
          <div class="task">
            <input id="check" type="checkbox" name="id" value="<%= i.id %>" />
            <div class="task-data">
              <p><%= i.description %></p>
              <i class="fas fa-calendar-alt"></i>
              <span> <%= i.duedate %> </span>
            </div>
            <button
              type="button"
              style="background-color: <%= colors_list[i.category] %>"
            >
              <%= i.category %>
            </button>
          </div>
        </div>
        <%}%>
      </form>
    </section>

    <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>
